:root {
    --color-primary: hsla(258, 80%, 65%, 1);
    --color-primary-hover: hsla(258, 80%, 75%, 1);
    --color-primary-active: hsla(258, 80%, 55%, 1);

    --bg-color: hsla(220, 15%, 15%, 1);
    --second-bg-color: hsla(220, 15%, 25%, 1);

    --text-color: #ffffff;

    --box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    --transition-speed: 0.3s ease;
}

body {
    background-color: var(--bg-color);
    box-sizing: border-box;
    margin: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
}

p {
    color: var(--text-color);
}

.global-container {
    background-color: var(--second-bg-color);
    border: 2px solid var(--color-primary);
    width: 60%;
    max-width: 600px;
    border-radius: 25px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: var(--box-shadow);
    transition: box-shadow var(--transition-speed);
}

.global-container:hover {
    box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.4);
}

h1 {
    color: var(--color-primary);
    font-size: 2.2rem;
    margin-bottom: 20px;
}

.info {
    text-align: center;
    margin-bottom: 20px;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#guess-number {
    margin: 30px;
    padding: 10px;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid var(--color-primary);
    background-color: hsla(220, 15%, 30%, 1);
    color: var(--text-color);
    box-shadow: var(--box-shadow);
}

#good-number {
    padding: 10px;
    font-size: 1.2rem;
    font-weight: bold;
}

.valid-btn, .replay-btn {
    padding: 15px 30px;
    margin: 10px 0;
    border-radius: 10px;
    border: none;
    background-color: var(--color-primary);
    color: var(--text-color);
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color var(--transition-speed), transform var(--transition-speed);
    box-shadow: var(--box-shadow);
}

.valid-btn:hover, .replay-btn:hover {
    background-color: var(--color-primary-hover);
    transform: translateY(-3px);
}

.valid-btn:active, .replay-btn:active {
    background-color: var(--color-primary-active);
    transform: translateY(0);
}

.replay-btn--hidden {
    display: none;
}

.span-good {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--color-primary);
}

.game-over {
    font-size: 2.2rem;
    padding: 5px;
    background-color: var(--color-primary);
    border-radius: 25px;
    box-shadow: var(--box-shadow);
    margin-top: 20px;
}
