:root {



    --color-primary: hsla(50, 80%, 70%, 1);
    --color-primary-hover: hsla(50, 80%, 80%, 1);
    --color-primary-active: hsla(50, 80%, 90%, 1);

    --color-secondary: hsla(210, 60%, 80%, 1);


    --color-white: #fff;
    --color-black: #000;


}

body {
    box-sizing: border-box;
    margin: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#global-container {
    background-color: var(--color-secondary);
    border: 2px solid var(--color-primary);
    width: 60%;
    border-radius: 25px;
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: var(--color-primary);
}

.info {
    text-align: center;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#guess-number {
    margin: 30px;
    padding: 10px;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 10px;
    /* border: 2px solid hsla(192, 100%, 50%, 1); */
}

#good-number {
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
}

.valid-btn {
    padding: 15px 30px;
    border-radius: 10px;
    border: none;
    background-color: var(--color-primary);
    color: var(--color-white);
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.valid-btn:hover {
    background-color: var(--color-primary-hover);
}

.valid-btn:active {
    background-color: var(--color-primary-active);
}