:root {



    --color-primary: hsla(176, 100%, 50%, 1);
    --color-primary-hover: hsla(176, 100%, 60%, 1);
    --color-primary-active: hsla(176, 100%, 70%, 1);

    --bg-color: hsla(0, 0%, 3%, 1);
    --second-bg-color: hsla(0, 0%, 7%, 1);


    --text-color: #fff;


}

body {
    background-color: var(--bg-color);
    box-sizing: border-box;
    margin: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    color: var(--text-color);
}

.global-container {
    background-color: var(--second-bg-color);
    border: 2px solid var(--color-primary);
    width: 60%;
    border-radius: 25px;
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: var(--color-primary);
}

.info {
    text-align: center;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#guess-number {
    margin: 30px;
    padding: 10px;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 10px;
    /* border: 2px solid hsla(192, 100%, 50%, 1); */
}

#good-number {
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
}

.valid-btn {
    padding: 15px 30px;
    border-radius: 10px;
    border: none;
    background-color: var(--color-primary);
    color: var(--text-color);
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.valid-btn:hover {
    background-color: var(--color-primary-hover);
}

.valid-btn:active {
    background-color: var(--color-primary-active);
}

.replay-btn {
    display: inline-block;
    padding: 15px 30px;
    margin: 20px;
    border-radius: 10px;
    border: none;
    background-color: var(--color-primary);
    color: var(--text-color);
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.replay-btn:hover {
    background-color: var(--color-primary-hover);
}

.replay-btn:active {
    background-color: var(--color-primary-active);
}

.replay-btn--hidden {
    display: none;
}

.span-good {
    font-size: 1.2rem;
    font-size: bold;
    color: var(--color-primary);
}